
<h1> All tent </h1>

<div class="card">
<div class="container">
<ul>
<% @tents.each do |tent| %>
<div class= "row">
<img src="https://images.unsplash.com/photo-1504280390367-361c6d9f38f4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dGVudHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&q=60 ">
</div>
<li><%= link_to tent.name, tent_path(tent)%>
<% end %>
</ul>
  </div>
</div>

<%# search form %>
<form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-campground"></i></i>  Search
    </button>
  </div>
</form>
