<div class="homepagedisplay" style="background-image:  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.picsum.photos/id/1043/5184/3456.jpg?hmac=wsz2e0aFKEI0ij7mauIr2nFz2pzC8xNlgDHWHYi9qbc)">
  <strong><div>Become</div><strong>
  <div> 
    <span>a Tent'Addict</span>
  </div>
</div>

<h2> Discover the tents that fit your needs</h2>
<div class="cardsindex">
  <% @tents.each_with_index do |tent, index| %>
  <div class="cardsflex">
  <div class="cardtentindexlist" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path tent.photo.key %>')">
      <%= link_to tent.name, tent_path(tent)%>  
    </div>
  </div>
  <% end %>
</div>



<%# search form %>
<form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-campground"></i></i>  Search
    </button>
  </div>
</form>
