.navbar-lewagon {
  justify-content: space-between;
  background: rgb(228, 238, 228);
  box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 10000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;

}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  height: 48px;
  border-radius: 20%;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.08);
}

.avatar {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.08);

}

.navbar h1 {
  color: green;
  font-family: 'Pattaya';
  position: center;

}


.min-container {
  min-height: calc(100vh - 74px - 100px) ;
}

.dropdown-menu a {
    color: blue;
        margin: 3px;
        border-radius: 25px;
}

.dropdown-menu a:hover {
    color: green;

}
